spring:

  datasource:
    url: jdbc:postgresql://localhost:5433/—Åertificate
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    properties.hibernate:
      show_sql: true
      format_sql: true
      hbm2ddl.auto: validate
    open-in-view: false

    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
server:
  servlet:
    context-path: /api/v1